@charset "utf-8";
/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	cursor: url("img/cursor.png"), auto;
}

/* comentarios: tamaño de pantalla :1920 desde la compu/
600 desde el celu*/

.header{
	width: 100%;
	height: 756px;
	display: flex;
	flex-direction: column;
	background-image: url("img/fondoheader-05.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*animaciones---------------------*/

.animacion{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#sol2{
	display: flex;
	z-index: 150;
	position: relative;
	width: 100px;
	height: 100px;
	top:150px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sol1{
	display: flex;
	z-index: 150;
	position: relative;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
	/*animation-name:sol1;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-direction:normal;
	animation-iteration-count: infinite;

}*/

@keyframes sol1{
	0% {
	transform: rotateZ(20deg);
	}
	100% {
	transform: rotateZ(360deg);
	}
}
/*fin de animaciones---------------*/

.profile-imagen{
	border-radius: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 0px 50px 0px 50px;
}

.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.b{
	align-self: flex-end;
}

.botonera{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100px;
	background-color:#5F388A;
	align-items: center;
	justify-content:space-evenly;
	position: fixed;
}

.botonera a:hover{
	color:aliceblue;
	background-color: #6738C9;
}

nav ul {
	list-style: none;
}

nav ul li{
	display: inline;
	
}

.botonera a{
	text-decoration: none;
	color:aliceblue;
	font-weight:600;
	padding: 10px 20px;
	border: 2px solid #6738C9;
	border-radius: 5%;
	margin:20px 20px;
}

h1{
	font-family: "Raleway", "Saira", "Rubik", "sans-serif";
	font-weight: bold;
	font-style: normal;
	font-size: 35px;
	color:#FFFFFF;
	display: flex;
	margin:30px;
}

h2{
	font-size: 20px;
	color:#F0A743;
	font-weight: bolder;
	font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Raleway, Saira, Rubik, "sans-serif";
	font-weight: normal;

}

main{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-around;
	background-color: #5F388A;
	width: 100%;
	height: auto;
	padding: 20px;
}
/*sobremi------------------------*/
#sobremi{
	padding: 80px 0px;
	color:#FFFFFF;
}

.sobremi{
	margin-top: 20px;
	line-height: 1.4;
}

.fila{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sobremi-col-1{
	flex-basis: 35%;
}

.sobremi-col-1 img{
	width:100%;
	border-radius: 15px;
}

.sombra{
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.sobremi-col-2{
	flex-basis: 60%;
}

.tab-titles{
	display: flex;
	margin: 20px 0 30px;
}

.tab-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after{
	content:'';
	width: 0;
	height: 3px;
	background:#F0A743;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after{
	width: 50%;
}

.tab-contents ul li{
	list-style:none;
	margin: 10px 0;
	line-height: 1.6
}

.tab-contents ul li span{
	color:#F0A743;
	font-size: 18px;
	font-weight: bolder;
	line-height: 1.6;
}

.tab-contents{
	display: none;
}

.tab-contents.active-tab{
	display: block;
}

/*sobremi------------------------*/

li{
	margin: 20px;
}

h4{
	font-size: 12px;
	line-height: 15px;
	color: #5F388A;
}

h5{
	font-family: "Raleway", "Saira", "Rubik", "sans-serif";
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	color: #6738C9;
}
.footer{
	width: 100%;
	height: 100%;
	background-color: #F1F1F1;
	box-sizing:border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/*galeria---------------------------*/
#galeria {
	display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	background-color: #000000;
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
}

.primer-ultima-flecha {
	visibility: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}

#fondo-galeria {
	background-color: black;
	opacity: 0.9;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA-------*/

#foto-1 {
	background-image: url("img/foto1-thumbnail.jpg");
}

#foto-2 {
	background-image: url("img/foto-2-thumbnail.jpg");
}

#foto-3 {
	background-image:url("img/foto-3-thumbnail.jpg");
}

#foto-4 {
	background-image:url("img/foto-4-thumbnail.jpg");
}

/*video--------------------------*/
.video-audio{
	margin-top: 40px;
}



/*formulario------------------------*/
.formulario-1{
	margin-top:20px;
	margin-bottom: 20px;
}


.formulario{
	background-color:#F0A743;
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
}

.label {
	width:30%;
	display: inline-block;
}

.divisionesform{
	margin:10px;
	padding: 10px 0px 20px;
	border-bottom: 1px solid #6738C9;
	font-weight: bolder;
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	flex-direction: row;
}

input, textarea {
	width: 60%;
	border: none;
	background:#ECEBED;
	padding:10px;
	outline: none;
	height: 30px;
}

textarea {
	height: 100px;
}

input:hover, textarea:hover {
	background: #aaa;
}

input:focus, textarea:focus {
	background: rgba(255,0,0,.2);
}

button {
	display: flex;
	background:#C4B3D7;
	border: none;
	padding: 5px;
	color:#6738C9;
	text-transform: uppercase;
	letter-spacing: 2px;
}

button:hover {
	background:#F07E43; 
}

button:active {
	background: rgba(255,0,0,1);
}