@charset "utf-8";
/* CSS Document */

*{
	marging: 0%;
	padding: 0%
}

.header{
	display: flex;
	flex-direction: column;
}


.profile-imagen{
	border-radius: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 0px 50px 0px 50px;
}

.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.b{
	align-self: flex-end;
}

.botonera{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 90px;
	background-color:#5F388A;
	align-items: center;
	justify-content:space-evenly;
}

.botonera a:hover{
	color:aliceblue;
	background-color: #6738C9;
}

nav ul {
	list-style: none;
}

nav ul li{
	display: inline;
	
}

.botonera a{
	text-decoration: none;
	color:aliceblue;
	font-weight:600;
	padding: 10px 20px;
	border: 2px solid #6738C9;
	border-radius: 5%;
	margin:20px 20px;

}

h1{
	font-family: "Raleway", "Saira", "Rubik", "sans-serif";
	font-weight: bold;
	font-style: normal;
	font-size: 35px;
}

h2{
	font-size: 20px;
	color:#6738C9;
	font-weight: bolder;
	font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:Raleway, Saira, Rubik, "sans-serif";
	font-weight: normal;
	padding: 0px;
}

main{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.nombre{
	display:flex;
	background:#F1ECE6;
	border-radius: 1.5%;
}
.sobremi {
	max-width: 90%;
	text-align: justify;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.columnas{
	display: flex;
	margin: 20px;
    max-width: 30%;
    margin-bottom: auto;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    content: close-quote;
}

#habilidades{
	border: 1px solid #6738C9;
	border-radius: 5%;
	padding: 10px 20px;
	margin: 10px 10px 40px 10px;
}

#aptitudes{
	border: 1px solid #6738C9;
	border-radius: 5%;
	padding: 10px 20px;
}

.fila{
	display: flex;
	flex-direction: column;
}

li{
	margin: 20px;
}

h4{
	font-size: 22px;
}

h5{
	font-family: "Raleway", "Saira", "Rubik", "sans-serif";
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	color: #6738C9;
}

footer{
	display: flex;
	flex-direction: row;
	padding: 45px;
	justify-content: flex-end;
	
}

footer a{
	text-decoration: none;
	color: black;
}

h6{
	font-size: 16px;
	text-align:left
}