@charset "utf-8";
/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
}

.header{
	width: 100%;
	height: 756px;
	display: flex;
	flex-direction: column;
	background-image: url("img/fondoheader-05.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*animaciones---------------------*/

.animacion{
	display: flex;
	width: 100%;
	height: 100%;
	
}
#sol2{
	display: flex;
	z-index: 150;
	position: relative;
	width: 100px;
	height: 100px;
	left:900px;
	top:150px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
	/*animation-name:sol1;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-direction: normal;
	animation-iteration-count: infinite;
}*/


@keyframes sol2{
	0% {
	transform: rotateZ(0);
	}
	100% {
	transform: rotateZ(60deg);
	}
}
#sol1{
	display: flex;
	z-index: 150;
	position: relative;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
	/*animation-name:sol1;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-direction:normal;
	animation-iteration-count: infinite;

}*/

@keyframes sol1{
	0% {
	transform: rotateZ(20deg);
	}
	100% {
	transform: rotateZ(360deg);
	}
}
/*fin de animaciones---------------*/

.profile-imagen{
	border-radius: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 0px 50px 0px 50px;
}

.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.b{
	align-self: flex-end;
}

.botonera{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100px;
	background-color:#5F388A;
	align-items: center;
	justify-content:space-evenly;
	position: fixed;
}

.botonera a:hover{
	color:aliceblue;
	background-color: #6738C9;
}

nav ul {
	list-style: none;
}

nav ul li{
	display: inline;
	
}

.botonera a{
	text-decoration: none;
	color:aliceblue;
	font-weight:600;
	padding: 10px 20px;
	border: 2px solid #6738C9;
	border-radius: 5%;
	margin:20px 20px;
}

h1{
	font-family: "Raleway", "Saira", "Rubik", "sans-serif";
	font-weight: bold;
	font-style: normal;
	font-size: 35px;
	color:#FFFFFF
}

h2{
	font-size: 20px;
	color:#F0A743;
	font-weight: bolder;
	font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Raleway, Saira, Rubik, "sans-serif";
	font-weight: normal;

}

main{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-around;
	background-color: #5F388A;
	width: 100%;
	height: auto
	
}
/*sobremi------------------------*/
#sobremi{
	padding: 80px 0px;
	color:#FFFFFF;
	
}
.fila{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sobremi-col-1{
	flex-basis: 35%;
}

.sobremi-col-1 img{
	width:100%;
	border-radius: 15px;
}

.sobremi-col-2{
	flex-basis: 60%;
}

.subtitulos{
	display: flex;
	margin: 20px 0 40px;
}

.sub-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.sub-links::after{
	content:'';
	width: 0;
	height: 3px;
	background:#F0A743;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.sub-links.activar-link::after{
	width: 50%;
}

.tab-contenido ul li{
	list-style:none;
	margin: 10px 0;
	line-height: 1.6
}

.tab-contenido ul li span{
	color:#F0A743;
	font-size: 14px;
	font-weight: bolder;
	line-height: 1.6;
}

/*sobremi------------------------*/

li{
	margin: 20px;
}

h4{
	font-size: 22px;
}

h5{
	font-family: "Raleway", "Saira", "Rubik", "sans-serif";
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	color: #6738C9;
}